<div class="admin-container">
  <app-sidebar></app-sidebar>
  <div class="content-container">
    <div class="carousel">
      <h2>Carroussel images</h2>

      <!-- Dropdown for image position -->
      <div class="form-group" style="margin-bottom: 15px;">
        <label for="imagePosition">Image Position:</label>
        <select id="imagePosition" name="imagePosition" class="form-control" [(ngModel)]="selectedImagePosition">
          <option value="1">Position 1</option>
          <option value="2">Position 2</option>
          <option value="3">Position 3</option>
          <option value="4">Position 4</option>
          <option value="5">Position 5</option>
        </select>
      </div>

      <!-- Form for uploading image -->
      <form>
        <div class="form-group" style="margin-bottom: 15px;">
          <label for="imageFile">Upload Image:</label>
          <input type="file" id="imageFile" name="imageFile" accept="image/*" (change)="onFileSelected($event)">
        </div>

        <button type="button" (click)="showImage()" class="btn btn-primary">Show Image</button>

        <!-- Display the added image -->
        <div *ngIf="addedImage">
          <h3>Added Image:</h3>
          <img [src]="addedImage" alt="Added Image">
        </div>

        <button type="button" style="margin-left: 10px;" (click)="uploadImage()" [disabled]="!selectedFile || !selectedImagePosition" class="btn btn-success">Upload</button>
      </form>
    </div>

    <div class="impProd">
      <div class="test">
        <h4> Check our products</h4>
        <form>
          <label for="position1">Position 1 - Product ID:</label>
          <input type="text" id="position" name="position1"><br>
  
          <label for="position2">Position 2 - Product ID:</label>
          <input type="text" id="position" name="position2"><br>
  
          <label for="position3">Position 3 - Product ID:</label>
          <input type="text" id="position" name="position3"><br>
  
          <label for="position4">Position 4 - Product ID:</label>
          <input type="text" id="position" name="position4"><br>
  
          <!-- Add more positions if needed -->

          <button type="button" class="btn btn-success">Submit</button>
      </form>
      </div>
    </div>

  </div>
</div>
